.GroupCard {
    display: flex;
    width: 500px;
    height: 110px;
    border: solid;
    border-width: 1px;
    border-color: #000;
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
}

.cover {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.name {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.status {

}

.memberCount {

}
