.FilterEntity {
    cursor: pointer;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: solid #000 1px;
    &:last-child {
        margin-right: 0;
    }
}

.default {
    background-color: #fff;
}

.active {
    background-color: green;
}
